
.select-gen-modal__container {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;

}
.select-gen-modal {
  position: absolute;

  background-color: #1A1A1A;
  border-radius: 6px;
  border: 2px solid white;
}

.select-gen-modal__wrapper {
  padding: 32px;
  max-width: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.select-gen-modal__title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  align-items: center;

  & > svg {
    margin-left: 8px;
    fill: #149ECA;
    width: 38px;
    height: 38px;
  }

}

.select-gen-modal__options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:  auto;
  gap: 12px 12px;
  padding: 16px 0;
}

.select-gen-modal__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid white;
  padding: 3px 8px;
  padding-right: 14px;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    background-color: lighten($color: #1A1A1A, $amount: 5);
  }

  &:active {
    background-color: lighten($color: #1A1A1A, $amount: 10);
  }
}

.select-gen-modal__button--highlight {
  background-color: lighten($color: #1A1A1A, $amount: 10);
}

.select-gen-modal__button-sprite {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  & svg {
    margin: 0 7px;
  }
}

.select-gen-modal__button-text {
  white-space: nowrap;
  letter-spacing: 1px;
  & > span {
    letter-spacing: 3px;
  }
}
.select-gen-modal__separator {
  min-height: 5px;
  min-width: 25%;
  border-bottom: 1px solid white;
  margin-bottom: 5px;
}

.select-gen-modal__submit-button-section {
  margin: 8px 0;
}