
.select-gen-modal__container {
  width: 100%;
  height: 100%;
  z-index: 2;

}
.select-gen-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1A1A1A;
  
  border-radius: 10px;
  border: 2px solid white;
}

.select-gen-modal__wrapper {
  padding: 32px;
  max-width: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.select-gen-modal__title {
  font-size: 32px;

}

.select-gen-modal__options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:  auto;
  gap: 12px 12px;
  padding: 16px 0;
}

.select-gen-modal__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid white;
  padding: 3px 8px;
  padding-right: 14px;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    background-color: lighten($color: #1A1A1A, $amount: 5) ;
  }

  &:active {
    background-color: lighten($color: #1A1A1A, $amount: 10) ;
  }
}

.select-gen-modal__button-sprite {
  margin: 0;
  padding: 0;
}

.select-gen-modal__button-text {
  white-space: nowrap;
  letter-spacing: 1px;
  & > span {
    letter-spacing: 3px;
  }
}